.wekin-menu
{
    background-color:  #2DB4A0;
    width: size auto;
    height: 100px;
    display: flex;
    flex-direction: row;
}


h1{
    text-align: center;
}

.filter
{
    display: flex;
}

.Board {
    background-image: url('../../images/backgr.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding: 8vh 0
}

.sort-search-div {
    position: 'fixed';
    top: 0;
    margin: 3vh 6vh
}


.filter-name {
    margin-left: 15%;
}

.filter-sort {
    margin-left: 1%;
}

.filter-order {
    margin-left: 1%;
    margin-right: 10%;

}

.filter-order button {
    background-color: white;
    border-radius: 5px;
    font-family: Poppins-Regular;
}

.filter-order button:hover{
    background-color:#2DB4A0;
    border-radius: 5px;
    font-family: Poppins-Regular;
    color: white;
}

.edit-mode {
    margin-left: 40%;
}

.edit-mode button {
    background-color: white;
    border-radius: 5px;
    font-family: Poppins-Regular;
}

.edit-mode button:hover{
    background-color:#2DB4A0;
    border-radius: 5px;
    font-family: Poppins-Regular;
    color: white;
}
.delete-bilan {
    display: flex;
    margin-left: 10%;
    position: absolute;
}

.delete-bilan button{
    
    text-align: center;
    border: none;
    background-color: white;
    margin-top: 1rem;
    border-radius: 5px;
    margin-right: 10px;
    
}

.delete-bilan button:hover {
    background-color: #2DB4A0;
    color: white;
}

.test-bilan button:hover {
    background-color: #FF5656;
    color: white;
}

.delete_image{
    background-color: transparent;
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1024px) {
    .filter-name {
        margin-left: 10%;
    }
    .edit-mode {
        margin-left: 20%;
    }
    .filter-sort {
        margin-left: 3%;
    }
    .filter-order {
        margin-left: 1%;
        margin-right: 5%;
    
    }
}

@media screen and (max-width: 555px) {
    .filter-sort {
        margin-left: 1%;
    }
    .filter-name {
        margin-left: 0%;
    }
    .filter-order {
        margin-left: 0%;
        margin-right: 0%;
    
    }
}