
.name
{
    font-size: medium;
    font-family: Poppins-Bold;
}
/* 
.custom {
    font-size: 1em;
  }

.custom-empty {
    color: blue;
}
*/
.custom-full {
    background-color: red;
} 

.rateIcons {
    margin-top: 6%;
    min-width: 170px;
}


@media screen and (max-width: 1250px) {
    .rateIcons {
        margin: 0 auto;
        width: 3vh
    }

    .name {
        margin-bottom: 5%;
    }
}

.rate {
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4.5px 15px 0 rgba(0, 0, 0, 0.19) inset;
    background-color: whitesmoke;
}