.input-text {
    display:grid;
    text-align: center;
    justify-content: center;
    
}

.input-text label{
    padding-top: 40px;
    text-align: center;
    color:#2DB4A0;
    justify-content: center;
    font-family: Poppins-Regular;
}

.input-text input{
    font-family: Poppins-Regular;
    width: 170px;
    color: black;
    text-align: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.error{
    color: red;
    font-family: Poppins-Regular;
    margin-top: 10px;
}

.submit button{
    margin-top: 30px;
    background-color: #2DB4A0;
    color: white;
    width: 90px;
}

.submit button:hover{
    color: black;
}

.popup{
    background-color: white;
    height:55%;
    width: 90%;
    border-radius: 5px;
}

.close{
    right: 10px;
    padding-right: 8%;
    padding-top: 2%;
    position: fixed;
}

.close:hover{
    color: red;
}

@keyframes fadeout {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
@-webkit-keyframes scaleIn {
    0% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0);
    }
  }

.container{
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height:100%;
    width: 100%;
}
.container2{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    animation: scaleIn 700ms;
}