.button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
}

.button:focus {
    outline: none;
}

.button_ligne {
    width: 30px;
    height: 2px;
    background: white;
}