.SearchBar{
    left: 0;
    top: 0;
    display: flex;
    padding: 0 2rem;
    border-radius: 30rem / 2;
    justify-content: center
}

.SearchBar label{
    margin-right: 2rem;
}

.SearchBar input{

    font-family: sequel sans;
    width: 30rem;
}