
  @media screen and (min-width: 1250px) {
    .Bilan {
      flex-direction: row;
      height: 40vh;
      justify-content: space-evenly;
    }
    .description {
      margin-right: 10vh
    }
    .patient_name, .exercice_name, .exercice_date {
      text-align: left;
    }
    .allCommentWrap {
      margin-left: 8vh;
    }
    .firstColumnRating {
      margin-right: 10%;
    }
    .secondColumnRating {
      margin-left: 10%
    }
    .rating {
      width: 30%;
    }
    .Divider {
      display:none
    }
    .delete_button {
      position: absolute;
      text-align: center;
      border: none;
      background-color: white;
      margin-top: 1rem;
      border-radius: 5px;
      top: 0%;
      right: 1.5%
    }
  }
  
  @media screen and (max-width: 1250px) {
    .Bilan {
      flex-direction: column;
      height: 75vh;
      justify-content: center;
    }
    .patient_name, .exercice_name, .exercice_date{
      text-align: center;
    }

    .allCommentWrap {
      width: 75%;
      margin: 10px auto 
    }
    .rating {
      margin: 0px auto 
    }
    .Divider {
      margin: 10px 30%
    }
    .delete_button {
      text-align: center;
      border: none;
      background-color: white;
      border-radius: 5px;
      top: 0%;
      right: 3%;
    }
  }
  
  .Bilan
  {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
      padding-top: 2%;
      padding-bottom: 2%;
      border-radius: 10px;
      background: radial-gradient(circle, rgba(197,233,228,1) 0%, rgba(76,182,167,1) 80%, rgba(45, 180, 160, 1) 100%);
      position: relative;
      margin: 3vh auto;
      min-height: 200px;
      display: flex;
      width: 75%;
      border: 3.5px solid whitesmoke;
  }
  
  .description {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .patient_name
  {
      font-size: 150%;
      font-family: Poppins-Bold;
      /* font-family: sequel sans; */
      font-weight: bold;
      color: whitesmoke;
      margin-bottom: 2%;
  
  }
  
  .exercice_name, .exercice_date
  {
      font-size: 120%;
      font-family: Poppins-Regular;
      
      font-weight: bold;
      color: whitesmoke ;
  }
  
  .allCommentWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      padding: 2px
  }
  
  .allComment {
      padding: 2rem;
      border-radius: 10px;
      background: whitesmoke;
      color: black;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
      
  }
  
  .commentaire {
      font-size: 150%;
      font-family: Poppins-Bold;
  }
  
  .info-message
  {
      min-height: 100px;
      min-width: 200px;
  
      padding: 15px;
      text-align: left;
      font-size: 100%;
      font-family: Poppins-Regular;
      border-radius: 10px;
  }
  
  .rating {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  
  .firstColumnRating {
      flex-direction: column;
      display: flex;
      justify-content: space-evenly;
  }
  
  .secondColumnRating {
      flex-direction: column;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 10%;
  }
  
  .tired
  {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
      margin-bottom: 10%;
      border-radius: 10px;
  }
  
  .pain
  {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
      margin-top: 10%;
      border-radius: 10px;
  }
  
  .breath
  {
      margin-bottom: 10%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
      border-radius: 10px;
  }
  
  .difficulty
  {
      margin-top: 10%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) inset;
      border-radius: 10px;
  }
  
  .delete_button
  {
      position: absolute;
      text-align: center;
      border: none;
      background-color: white;
      margin-top: 1rem;
      border-radius: 5px;
  }

  .delete_button:hover {
      background-color: #FF5656;
      color: white;
  }
  .delete_image{
      background-color: transparent;
      width: 25px;
      height: 25px;
  }