.picture_profile button {
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: white;
}

.picture_profile button img {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid #2db4a0;
  object-fit: cover;
}

.img__wrap {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(45, 180, 160, 0.72);
  color: #fff;
  visibility: hidden;
  border-radius: 50%;
}

.img__text {
  position: relative;
  margin-top: 40%;
  text-align: center;
  color: white;
  font-family: Poppins-Bold;
}

.img__wrap:hover .img__description {
  visibility: visible;
}
