/* .name_section label{
    margin-left: 12%;
    margin-top: 3%;
    display: flex;
    font-family: sequel sans;
    text-decoration: none;
    font-size: 400%;
    color: #2DB4A0;
}

.name_section{
    display: flex;
    margin-top: 2%;
}

.info_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    background: #2DB4A0;
    width: 65%;
    min-height: 300px;
    border-radius: 20px;
}

.data{
    display: block;
    padding-right: 60% ;
    padding-left: 10% ;
    padding-top: 2% ;
    padding-bottom: 2% ;
    color: white;
}

.data label{
    display: block;
    font-size: x-large; 
    text-align: left;
    /* font-family: sequel sans; */
/* }

.data h1{
    font-weight: bold;
    text-align: left;
} */ */




/* -------------------- Test --------------*/

h1,
h2,
h3,
h4 {
    font-weight: 500;
    margin: 0px 0px 5px 0px;
}   
  
.profile-name {
  font-family: Poppins-Bold;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 3vh;
}

.profile-subname {
  font-family: Poppins-Regular;
  font-size: 1.5vh;
}

.profile-spec {
  font-family: Poppins-Regular;
  font-size: 1.65vh;
  color: #2DB4A0;
}

.profile-data {
  font-family: Poppins-Regular;
  font-size: 1.65vh;
}

p {
  font-size: 1.5vh;
}

.profile-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content:space-between;
}

.profile-card {
  /* background: #2DB4A0; */
  background-image: url('../../images/Wekin_Logo-rect.png');
  background-position: center;
  background-size: 56px;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.modification {
  /* position: absolute; */
  margin-top: 50px;
  bottom:0;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.profile-card header {
  width: 179px;
  height: 280px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  /* float: left; */
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
  color: #2DB4A0;
}


.profile-card .profile-bio {
  width: 175px;
  height: 180px;
  display: inline-block;
  /* float: right; */
  padding: 50px 20px 30px 20px;
  background: #FFFFFF;
  color: #333333;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}





@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 35%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 35%;
  }
  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes moveUp {
  0% {
      /* background: #2DB4A0; */
      background-image: url('../../images/Wekin_Logo-rect.png');
      top: 100%;
  }
  50% {
      top: 40%;
  }
  100% {
      bottom: 0%;
      /* background: #E0E0E0; */
      background-image: url('../../images/Wekin_Logo-rect.png');
  }
}

@keyframes moveUp {
  0% {
    /* background: #2DB4A0; */
    background-image: url('../../images/Wekin_Logo-rect.png');
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
      bottom: 0%;
      background-image: url('../../images/Wekin_Logo-rect.png');
      /* background: #E0E0E0; */
  }
}

@-webkit-keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 25%;
    height: 60%;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 25%;
    height: 60%;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 15px 20px 30px 20px;
    display: block;
    float: none;
  }
  
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 50%;
      height: 50%;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 60%;
      height: 70%;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
}