.wekin-menu
{
    background-color:  #2DB4A0;
    width: size auto;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.logo-menu
{
    width: 100px;
    height: 100px;
    position: absolute;
    /* margin-left: 1%;
    margin-right: 100%; */

}

h1{
    text-align: center;
}

.title-menu
{
    color: white;
    position: absolute;
    left: 47.5%;
    top: 1%;
    font-size: 35px;
    font-family: sequel sans;

}

.connection
{

}