.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  .pickLanguage {
    position: relative
  }
}

.pickLanguage {
  width: 15%;
  position: absolute;
  right: 0%;
  top: 2.5%

}

.langIcon {
  /* margin-left: 0.5%; */
  padding-left: 3%;
  padding-right: 3%;

}

.container-login100 {
  height: 100vh;
}