.modif-container button {
    color: #2DB4A0;
    font-family: Poppins-Regular;
    font-size: 1.65vh;   
    background-color:#F5F5F5;
    border-radius: 5px;
}
.modif-container button:hover{
    color: black;
    background-color:white;
}

.email {
    padding-bottom: 20px;
}

.show{
    display: block;
    transform: 800ms;
    opacity: 1;
}

.show.active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
}