.side-drawer{
    height: 100%;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    background: transparent;
    border: none;
    top: 0;
    left: 0;
    width: 400;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    pointer-events: none;
}

.side-drawer.open{
    transform: translateY(0);
    pointer-events: initial;
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: left;
    left: 0;
}

.side-drawer li {
    margin-right: 3rem;
}

.side-drawer a {
    color: #2DB4A0;
    text-decoration: none;
    font-size: 1.5rem;
}

.side-drawer.open a:hover,
.side-drawer.open a:active{
    color: #3587B1;
}