.nav-navigation {
    background-color: #2DB4A0;
    z-index: 999;
    display: flex;
    min-height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0 1rem; */
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  
}

.nav-logo {
    margin-left: 2%;
}

.nav-logo img{
    max-height: 8vh;
    min-height: 8vh;
    min-width: 8vh;
    max-width: 8vh;
}

.nav-logo a {
    color: white;
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 40%
}

.nav-links a {
    color: whitesmoke;
    letter-spacing: 3px;
    font-family: Poppins-Bold;
    font-weight: bold;
    font-size: 18px;
}

.nav-links li {
    list-style: none;
}

.burgerMenu {
    display: none;
    cursor: pointer;
    margin-right: 2%;
}

.burgerMenu div {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-navigation {
        justify-content: space-between;
    }
    
    .nav-links {
        position: absolute;
        right: 0%;
        height: 92vh;
        top: 8vh;
        background-color: #2DB4A0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0
    }

    .burgerMenu {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.animateProfileLink {
    animation: navLinkFade 0.5s ease forwards 0.3s
}

.animateBilanLink {
    animation: navLinkFade 0.5s ease forwards 0.5s
}

.animateCalendarLink {
    animation: navLinkFade 0.5s ease forwards 0.7s
}

.animateLogoutLink {
    animation: navLinkFade 0.5s ease forwards 0.9s
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity:0
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

